<div class="content_post" >
       <div class="more">
         <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
           <li>
             <%= link_to '詳細', artist_path(artist.id) %>
           </li>
        <% if user_signed_in? && current_user.id == artist.user_id %>
            <li>
             <%= link_to '編集', edit_artist_path(artist.id) %>
           </li>
             <%= link_to '削除', artist_path(artist.id), method: :delete, data: { confirm: '削除しますか？' }%>
           </li>
        <% end %>
        </ul>
   </div>
    <div><%= artist.created_at.to_s(:datetime_jp) %></div>
     <span class="name">
       <%= artist.name %><%= "先生" %>
         <a href="/users/<%= artist.user.id %>">
          <span>投稿者</span><%= artist.user.nick_name %>
        </a>
    </span>
    <p><%= artist.explanation %></p>