<div class="box26">
    <span class="box-title"><%= artist.name %><%= " 先生" %></span>
    <a class="box-user", href="/users/<%= artist.user.id %>" ><p>投稿者：<%= artist.user.nick_name %> </a>
    <p class="box-time"><%= artist.created_at.to_s(:datetime_jp) %></p>
    <p class="box-text"><%= artist.explanation %></p>

      <div class="lists">
        <ul class="list">
           <li>
             <%= link_to '詳細', artist_path(artist.id) %>
           </li>
        <% if user_signed_in? && current_user.id == artist.user_id %>
            <li>
             <%= link_to '編集', edit_artist_path(artist.id) %>
           </li>
           <li>
             <%= link_to '削除', artist_path(artist.id), method: :delete, data: { confirm: '削除しますか？' }%>
           </li>
        <% end %>
        </ul>
      </div>
 </div>     