<p class="heading_bar">手紙</p>
<div class="content-show">
   <%= render partial: "artist", locals: { artist: @artist } %>
</div>
<p class="heading_bar">コメント欄</p>
<div class ="get-comments">   
  <% if user_signed_in? %>
    <%= form_with(model: [@artist, @comment], local: true) do |form| %>
    <%= form.text_area :text, placeholder: "コメントする", class:"get-comment"%>
    <br> <%= form.submit "SEND" ,class:"artist-btn"%><br>
    <% end %>
  <% else %>
    <p>※ コメントの投稿には新規登録/ログインが必要です！ </p>
  <% end %>
   <div class="comments">
    <ul class="comments_lists">
     <% if user_signed_in? %>  
      <h4>＜コメント一覧＞</h4>
     <% end %>
      <% @artist.comments.each do |comment| %>
     <li class="comments_list">
      <%= comment.created_at.to_s(:datetime_jp) %>
      <%= link_to comment.user.nick_name, user_path(comment.user.id), class: :comment_user %>
      <br><%= comment.text %><br>
      <% end %> 
     </li>
    </ul>
   </div> 
</div>