<p class="heading_bar"><%= "プロフィール" %></p>
<ul class = "your_names">
 <li class = "your_name">Nick_name:</li> 
 <li><span class="under"><%= @user.nick_name %></span> </li>
  <% if @user.profile != nil %>
   <li class = "your_name">Profile:</li> 
   <li><span class="under"><%= @user.profile %></span></li> 
  <% end %>
  <li class = "your_name">Like_genre:</li> 
  <li><span class="under"><%= @user.genre.name %></span></li>
 
   <div class= "search-prof">
    <ul class="list">
      <li>
      <% link_to '編集', "#"%>
      </li>
      <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' }%>
      </li>
   </ul>
   </div>
</ul>

<p class="heading_bar"><%= "あなたの投稿" %></p>  
<div>
  <% if @artists.length == 0 %>
  <h3 class = "no-artist-memo"> 投稿してみよう。</h3>
  <% end %>
   <%= render partial: "artists/artist",  collection: @artists %>
</div>   

