<!DOCTYPE html>
<html>

  <head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="example.css">
      <title>RootLetter</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="headline">
        <a class="tittle">-Root Letter-</a>
      </h1>
        <nav>
          <ul>
            <li class=”current”><a href="/" >Home</a></li>
            <li></li>
           <% if user_signed_in? %> 
            <li> <%= link_to current_user.nick_name, "/users/#{current_user.id}" %></li>
            <li> <%= link_to "投稿する", new_artist_path, class: "post" %></li>
           <% else %> 
            <li><%= link_to "ログイン", new_user_session_path, class: "post" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "post" %></li>
           <% end %>
          </ul>
        </nav>
          <%#<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </header>
    <%= yield %>
  <footer>
    <ul class="footer-menu">
     <li><%= link_to "Home", "/" %></li>
      <% if user_signed_in? %> 
     <li>| <%= link_to "My Page", "/users/#{current_user.id}" %> |</li>
     <li><%= link_to "Post", new_artist_path, class: "post" %> ｜</li>
     <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
    <p>© All rights reserved by root letter.</p>
  </footer>
  </body>
</html>
